<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped table-hover table-bordered"> 
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td scope="col"><%= user.name %></td>
        <td scope="col"><%= user.email %></td>
        <td scope="col"><%= link_to 'Show', user %></td>
        <td scope="col"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td scope="col"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
